    <div class="col s9">

    	<center> <h3> Equipos Conectados en la Red </h3> </center>

    	Search: <input ng-model="query">

    	<div ng-show="!pcs.length">
    	
    	<h1> Cargando, por favor espere .... </h1>

			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
					
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>
				
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>

    	</div>
		
    		<ul ng-show="pcs.length" ng-cloak>

    		    	<h1> Equipos Conectados: {{pcs.length}} </h1>


			<li ng-repeat="pc in pcs">



				<div class="col s3 card card small">

					<div class="card-image waves-effect waves-block waves-light">
						
						<img class="activator" ng-src="/static/img/pc.png">
					
					</div>

					<div class="card-content">
						
						<span class="card-title activator grey-text text-darken-4">PC<i class="material-icons right">more_vert</i></span>
						
						<p><a href="pc">Desplegar Servicio</a></p>
					</div>

					<div class="card-reveal">
						
						<span class="card-title grey-text text-darken-4"> Información <i class="material-icons right">close</i></span>
						
						<p>
							IP: {{ pc }}
						</p>

					</div>

				</div>

				<span></span>
			</li>
			
		</ul>

    </div>
